@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* Colors */
    --bg: #fff;
    --bg-alt: #333;
    --bg-alt-2: #f0f0f0;
    --bg-transparent: #ffffffe8;
    --border: 0.01rem solid #333;
    --text: #333;
    --text-alt: #fff;
}

body {
     height: 100vh;
     width: 100vw;
     background-color: var(--bg);
}
.head {
    align-items: center;
    align-content: center;
    text-align: center;
    margin-top: 15px;
}

.head h1 {
    margin-top: 15px;
    font-size: 2.8rem;
    font-weight: 700;
}

.head img {

    padding: 8px;
    margin: 3rem;
    width: 250px;
    
    border-radius: 40px;
    border: 5px dotted var(--bg-alt);
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    padding: 20px;
    border: 2px solid var(--bg-alt);
    align-content: center;
    text-align: center;
    border-radius: 25px;
    width: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}
 
.card h3 {
    margin: 8px;
}

.card p {
    color: var(--text);
}

.layer {
    width: 100%;
}
.l-even , .l-odd {
    display: flex;
    flex-direction: row;
    height: 120px;
}

.l-even {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 18%, rgba(139,139,139,1) 35%, rgba(51,51,51,1) 48%);
    text-align: right;
}


.l-odd {
    background: rgb(51,51,51);
    background: linear-gradient(90deg, rgba(51,51,51,1) 47%, rgba(139,139,139,1) 64%, rgba(255,255,255,1) 80%);
    text-align: left;
}

.l-odd-left {
    width: 70%;
    color: var(--text-alt);
}

.l-odd-right {
    width: 30%;
    height: 150px;
}

.l-odd-right img {
    padding-top: 25px;
    padding-left: 35px;
    height: 120px;
}

.l-even-right {
    width: 70%;
    color: var(--text-alt);
}

.l-even-left {
    width: 30%;
    height: 150px;
}

.l-even-left img {
    padding-top: 25px;
    padding-right: 35px;
    height: 120px;
}