@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
}

a {
    color: inherit;
}

:root {
    /* Colors */
    --bg: #fff;
    --bg-alt: #333;
    --bg-alt-2: #f0f0f0;
    --bg-transparent: #ffffffe8;
    --border: 0.01rem solid #333;
    --text: #333;
    --text-alt: #fff;
}

body {
     height: 100vh;
     width: 100vw;
     background-color: var(--bg);
}

.head {
    padding-top: 15px;
    text-align: center;
    color: var(--text);
}

.head h1 {
    margin-top: 25px;
    font-size: 1.9rem;
}

.project-filter {
    margin-bottom: 20px;
}

.project-filter ul {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.project-filter ul li {
    border: 2px solid var(--text);
    width: 60px;
    text-align: center;
    border-radius: 25px;
    font-size: .9rem;
}

.active {
    background-color: var(--bg-alt);
    color: var(--text-alt);
    font-weight: 600;
}

.project-body {
    text-align: center;
}

.project-list {
    padding: 15px;
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
}

.project-card {
    padding-top: 10px;
    padding: 12px;
    border-radius:25px; 
    display: flex;
    flex-direction: column;  
    border: 1px solid var(--bg-alt);
    padding-bottom: 25px;
    align-items: center;
} 

.project-card img {
    width: 100%;
    border-radius: 25px;
    display: block;
    transition: transform 0.5;
    aspect-ratio: 16/10;
    margin-top: 15px;
    margin-bottom: 15px;
}

.project-title {
    font-weight: 700;
    margin-bottom:15px;
    font-size: 1.2rem;
}

.project-card a {
    border: 1px solid var(--bg-alt);
    padding: 8px;
    border-radius: 25px;
    width: 40%;

}